.exchanges {
    background-color: $color-white;
    .exchange-holder {
        height: 150px;
        .inner-slider {
            a{
                display: inline-block;
                img {
                    width: 100%;
                }
            }
        }
    }
}
